body {
  background-color: white;
}

@media screen and (orientation: landscape) {
  .hum-menu {
    background-color: black;
  }

  .flex-item {
    a {
      color: white;
    }
  }
  .hum-icon-container {
    background-color: black;
  }
  .hum-icon {
    span {
      background-color: white;
    }
  }
}

@media screen and (orientation: landscape) {
  .back-bar {
    display: block;
    position: absolute;
    top: 0;
    left: calc(16px + 6vh);
  
    height: 70vh;
    width: calc(16px + 8vh);
  
    background: linear-gradient(to bottom, white, black);
  }
}


.title {
  display: block;
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);

  color: black;
  font-size: 12vh;
  font-weight: 800;
}

.description {
  display: flex;
  
  margin-top: 20vh;
  padding: 0 5vw;
  width: 100%;
  background-color: #ffffff40;
  color: #606060;
  font-size: 20px;

}

.description-left {
  display: inline-block;

  width: 25%;
  z-index: 7;
  img {
    max-width: 100%;
  }
}
.description-right{
  padding: 0 2vw 0 5vw;
  width: 70%;
}

.group {
  color: black;
  font-size: 1.5em;
  span {
    font-size: 0.9em;
  }
}

@media screen and (orientation:portrait) {
  .title {
    font-size: 10vh;
  }
  .description {
    top: 15vh;
  }
}


