$PINK: #ff46be;
$YELLOW: #ffe000;
$GREEN: #bcff02;
$BLUE: #00ffff;

$sm: 576px;
$md: 768px;


html,
body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}


.hum-menu {
  background-color: white;
}

.flex-item {
  a {
    color: black;
  }
}
.hum-icon-container {
  background-color: white;
}
.hum-icon {
  span {
    background-color: black;
  }
}
// .top {
//   height: 100vh;
// }

.background-works {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2vw;

  width: 80vw;
  max-height: 90vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 10vw;
  letter-spacing: 20vh;
  transform: translateY(-50%);

  color: white;
  font-size: 15vw;
  letter-spacing: 0.05em;
}

.scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: right;
  transform: translateX(-50%) rotate(90deg);

  color: white;
  border-bottom: 1px solid white;
  letter-spacing: 0.1em;
}

.works-main {
  position: relative;
  padding: 0 2vw;
}

.center-line {
  display: block;
  position: absolute;
  left: 50%;

  width: 2px;
  height: 2000px;

  background-color: #606060;
}

.work-container {
  display: flex;
  width: 100%;
}
.work-img {
  display: block;
  text-align: center;
 
}

.img-container {
 display: inline-block;
}

.work-container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}


.work-title {
  background-color: black;
  font-size: 1.5em;
}
.work-description {
  padding-top: 1em;

  font-size: 1em;
  background-color: black;
}

// 現役・OB・募集button
input[type="radio"] {
  display: none;
}

.label-wrap {
  position: relative;
  margin-bottom: 5vh;
}
.label-btn {
  display: inline-block;
  text-align: center;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  border: 1px solid $YELLOW;
  background-color: black;
  color: $YELLOW;
  line-height: 100%;
  cursor: pointer;
}

#jishu-container, #jutaku-container{
  display: none;
}

#jishu-btn:checked ~ .label-wrap .jishu-label {
  background-color: $YELLOW;
  color: black;
}
#jishu-btn:checked ~ #jishu-container {
  display: block;
}
#jutaku-btn:checked ~ .label-wrap .jutaku-label {
  background-color: $YELLOW;
  color: black;
}
#jutaku-btn:checked ~ #jutaku-container {
  display: block;
}

@media screen and (orientation: portrait) {
  .label-wrap {
    display: block;
    height: 40px;
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
   
    .label-btn {
      position: absolute;
      display: inline-block;
      padding: 0.8em 1px;
      margin: 0 0;
      width: 49%;
    }
    .jishu-label {
      top: 0;
      left: 0;
    }
    .jutaku-label {
      top: 0;
      right: 0;
    }
  }
}

@media screen and (orientation: portrait) {
  .works-main {
    position: relative;
    padding: 0 2vw;
  }
  .work-container {
    flex-direction: column;
  }
  .work-img {
    position: relative;
    width: 100%;
  }
  .img-portrait {
    .img-container {
      width: 65%;
    }
  }
  .img-landscape {
    .img-container {
      width: 90%;
    }
  }
  .img-container {
    display: inline-block;
    width: 100%;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .work-description-container {
    margin-top: 2vh;
    padding: 0 3vw;
    width: 100%;
  }
  .gray-line {
    background-color: gray;
  }
}



@media screen and (orientation: landscape) {
  .work-img {
    width: 40%;
  }

  .work-description-container {
    width: 60%;
  }
  
  // .work-container-reverse {
  //   flex-flow: row-reverse;
  // }

  .work-title {
    border-bottom: 1px solid white;
  }
  .img-mask {
    position: absolute;
    display: inline-block;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #00000088;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    cursor: pointer;
 
  }
  .img-container {
    display: inline-block;
    position: relative;
    
    width: 80%;
    img {
      max-width: 100%;
      max-width: 100%;
    }
    &:hover {
      .img-mask {
        opacity: 1;
      }
    }
  }
  
}

.jutaku-wrap {
  padding: 2vh 0;
}

@media screen and (orientation:portrait) {
  .jutaku-title {
    font-size: 1.3em;
    span {
      font-size: 1em;
    }
  }
}